#!/bin/sh

# echo test

USERNAME=root
PASSWORD=root123
PORT=8879
HOST=localhost

APPPKGNAME=DefaultApplication.ear

DEPLOYNAME=DefaultApplication.ear
DEPLOYTARGETTYPE=Server
# DEPLOYTARGETTYPE=Cluster
DEPLOYTARGET=was1Node01.server1
# DEPLOYTARGET=server1,server2
# DEPLOYTARGET=cluster1
DEPLOYMETHOD=full
# DEPLOYMETHOD=delta

NEEDRESTART=true
#NEEDRESTART=false

CHECKURL=http://172.16.0.91:9081/snoop
CHECKSTR=Snoop
# CLEANCMD="echo 'some data'"
# CLEANCMD=""

